<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div class="pagination"><%= will_paginate models %></div>
<h4><%=@title %></h4>
	
# of Actions=<%=models.count %>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%= t('Create Date') %></th>
    <th><%= t('Action Name') %></th>
    <th><%= t('Resource') %></th>
    <th><%= t('Non Tech Desp') %></th>
    <th><%= t('Present To Customer') %></th>
    <th><%= t('Last Updated By') %></th>
    <th></th>
 
  </tr>

<% models.each do |r| %>
  <tr>
    <% if has_action_right?('show', params[:controller], r) %>
        <td><%= link_to r.id, SUBURI + "/authentify/view_handler?index=1&url=#{module_action_path(r)}"  %></td>
    <% else %>
        <td><%= r.id %></td>
    <% end %>
    <td><%= prt(r, :created_at).strftime('%Y/%m/%d') %></td>
  	<td><%= prt(r, :name) %></td>
  	<td><%= prt(r, 'data_resource.name') if r.data_resource_id.present? %></td> 
    <td><%= prt(r, :desp_non_tech) %></td> 
    <td><%= r.present_to_customer ? t('Yes') : t('No') %></td>
    <td><%= prt(r, 'last_updated_by.name') %></td>
    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_module_action_path(r)}" , :class => BUTTONS_CLS['action'] if has_action_right?('update', params[:controller], r )  %></td>
    
  </tr>
<% end %>
</table>

<table class="table table-striped">
  <tr>
    <th>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('New Action'), SUBURI + "/authentify/view_handler?index=1&url=#{new_module_action_path(module_info_id: @module_info.id)}", :class => BUTTONS_CLS['action'] if @module_info && has_action_right?('create', params[:controller]) %>
    </th>
  </tr>
</table>

<% end %>



